{% extends "base.html" %}
{% block title %}Información del álbum{% endblock %}
{% block content %}
   <div class="container">
      <div class="row">
         <div class="col-md-6 offset-md-3">
            <h2>Información del álbum: {{ album_info.name }}</h2>
            <h3>Artista: {{ album_info.artist }}</h3>
            <h3>Fecha de lanzamiento: {{ album_info.releasedate }}</h3>
            <h3>Top canciones:</h3>
            <ol>
               {% for track in album_info.tracks.track %}
                  <li>{{ track.name }}</li>
               {% endfor %}
            </ol>
         </div>
      </div>
   </div>
{% endblock %}
