<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
   <!-- site metas -->
   <title>{% block title %}{% endblock %}</title>
   <meta name="keywords" content="">
   <meta name="description" content="">
   <meta name="author" content="">
   <!-- style css -->
   <link rel="stylesheet" type="text/css" href="css/style.css">
   <!-- fonts -->
   <link href="https://fonts.googleapis.com/css?family=Poppins:400,700%7CRaleway:400,700&display=swap" rel="stylesheet">
   {% block styles %}{% endblock %}
</head>
<body>
   <!--header section start -->
   <div class="header_section">
      <div class="container-fluid">
         <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="logo"><a href="/"><img src="static/images/logo.png" alt="icono de logo"></a></div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
               <ul class="navbar-nav mr-auto">
                  <li class="nav-item">
                     <a class="nav-link" href="/">Inicio</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="/buscador">Buscador</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="/todo">Top 50</a>
                  </li>
               </ul>
            </div>
         </nav>
      </div>
   </div>
   <!--header section end -->
   <!-- content section start -->
   <div class="content_section">
      {% block content %}{% endblock %}
   </div>
   {% block scripts %}
   <!-- sidebar -->
   <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
   <script src="js/custom.js"></script>
   <!-- javascript --> 
   <script src="js/owl.carousel.js"></script>
   <script src="https//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
   {% endblock %}
</body>
</html>