{% extends "base.html" %}
{% block title %}Buscador{% endblock %}
{% block content %}
<div class="contact_section layout_padding">
   <div class="container">
      <h1 class="contact_title">Búsqueda de música</h1>
      <div class="contact_section_2">
         <form method="GET" action="/buscador">
            <div class="mail_main">
               <div class="row">
                  <div class="col-md-12">
                     <input type="text" class="mail_text" placeholder="Buscar música" name="query">
                  </div>
               </div>
               <div class="send_bt">
                <button type="submit" class="styled-button">BUSCAR</button>
             </div>
            </div>
         </form>
      </div>
   </div>
</div>
{% endblock %}
